#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/107b845f-5eed-4750-9416-fcef632a80f6/ # 
title: DSIAPIS

/flights:
  get:
    queryParameters:
      code:
        maxLength: 5
  post:
    body:
      application/json:
        example:
          {
            "code": "GQ574",
            "price": 399,
            "departureDate": "2016/12/20",
            "origin": "ORD",
            "destination": "SFO",
            "emptySeats": 200,
            "plane": {"type": "Boeing 747", "totalSeats": 400}
          }
    responses:
      201:
        body:
          application/json:
            example:
              {
  "code": "GQ574",
  "price": 399,
  "departureDate": "2016/12/20",
  "origin": "ORD",
  "destination": "SFO",
  "emptySeats": 200,
  "plane": {"type": "Boeing 747", "totalSeats": 400}
}
              
  
  /{ID}:
    get:
      responses:
        200:
          body:
            application/json:
              example: |
                 {
                  "code": "GQ574",
                  "price": 399,
                  "departureDate": "2016/12/20",
                  "origin": "ORD",
                  "destination": "SFO",
                  "emptySeats": 200
                  }
        201:
          body:
            application/json:
              example: |
                 {
                  "code": "GQ574",
                  "price": 399,
                  "departureDate": "2016/12/20",
                  "origin": "ORD",
                  "destination": "SFO",
                  "emptySeats": 200
                  }

      